# Override Rafiki cloud-nine backend to use NexusPay webhooks.
# Apply after starting rafiki localenv:
#
#   WEBHOOK_URL=http://host.docker.internal:3000/webhooks
#   EXCHANGE_RATES_URL=http://host.docker.internal:3000/rates
#   ILP_ADDRESS=ke.nexuspay

WEBHOOK_URL=http://host.docker.internal:3000/webhooks
EXCHANGE_RATES_URL=http://host.docker.internal:3000/rates
ILP_ADDRESS=ke.nexuspay
